 @model PINProvUtilita.Models.WhiteListNumContatto

@using (Html.BeginForm("RicercaEccezione", "RicercaContatti", Model, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset class="field_set_ricerca_eccezioni">
        <div class="myLabel">   
            <table style="height: 80px;">
                <tr class="disttr">
                    <td> 
                        @Html.LabelFor(model => model.Contatto, new{@class="labelEccezioneRicerca"})                               
                    </td>
                    <td> 
                        @Html.TextBoxFor(model => model.Contatto, new { @class = "wideContatti", @maxlength = "100",@style="margin-top='10px'"})
                    </td>
                </tr>
                <tr class="ricerca">
                    <td>
                    </td>
                    <td> 
                        <div style="margin-top:5px; margin-left:5%; margin-right:5%;">
                            <div style="float: left; padding: 0; margin-left: 2%; margin-right:2%; vertical-align: top;">
                                <input type="button"  class="BtnRevoca" value="Inserisci"  onclick ="location.href='@Url.Action("InserisciEccezione", "RicercaContatti")    '" />
                            </div>
                            <div style="float: left; padding: 0; margin: 0%; vertical-align: top;">
                                <input class ="BtnGrafica" type="submit" value="Ricerca" />
                            </div>
                            <div style="float: left; padding: 0; margin: 0; vertical-align: top;">
                                <img src="@Url.Content("~/Images/arrow-right.gif")" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
}